{% extends "base.html" %}

{% block title %}
    Info | {{ object.username }}
{% endblock %}

{% block content %}
    <div class="input">
    <p>Username: {{ object.username }}</p>
    <p>Birth date: {{ object.birth_date }}</p>
    <p>Random number: {{ object.random_number }}</p>
    <p>
        <a href="{% url 'user_update' object.pk %}"><button class="submit">Edit users info</button></a>
        <a href="{% url 'user_delete' object.pk %}"><button class="delete_btn">Delete user</button></a>
    </p>
    <p>
        <a href="{% url 'users_list' %}"><button class="submit">Back to users list</button></a>
    </p>
    </div>
{% endblock %}